<footer class="footer-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-3 ftborder ft">
                <a href="contact.html">Contact</a>
                <p class="full">Alpacalaan 1</p>
                <p class="full">9830 Sint-Martens-Latem</p>
                <p class="full">bob_de_alpaca@rentafriend.be</p>
                <p class="full">0456730056</p>
            </div>
            <div class="col-md-8 col-6 ft">
                <a href="beschikbaarheid.html">Beschikbaarheid</a><br>
                <a class="full" href="tarieven.html">Tarieven</a><br>
                <a class="full" href="overbob.html">Over Bob</a>
                <p class="full" class="copyright"> © Rent a Friend 2017 | Arteveldehogeschool | Julie Mattelaer</p>
            </div>
            <div class="col-3 logobottom pt-4">
              <a href="https://www.facebook.com/">
                <i class="sprite sprite-facebooklogowit"></i>
              </a>
              <a href="https://www.instagram.com/">
                <i class="sprite sprite-instagramlogowit"></i>
              </a>
            </div>
        </div>
    </div>
</footer>
