<footer class="footer-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ftborder ft">
                <a href="contact.html">Contact</a>
                <p>Alpacalaan 1</p>
                <p>9830 Sint-Martens-Latem</p>
                <p>bob_de_alpaca@rentafriend.be</p>
                <p>0456730056</p>
            </div>
            <div class="col-md-8  ft">
                <a href="beschikbaarheid.html">Beschikbaarheid</a><br>
                <a href="tarieven.html">Tarieven</a><br>
                <a href="overbob.html">Over Bob</a>
                <p class="copyright"> © Rent a Friend 2017 | Arteveldehogeschool | Julie Mattelaer</p>
            </div>
        </div>
    </div>
</footer>
