
<footer class="footer-light">
    <table class="table table-bordered">
            <tbody>
                <tr>
                <td width="25%">
                    <a href="contact.html">Contact</a>
                    <p>Alpacalaan 1</p>
                    <p>9830 Sint-Martens-Latem</p>
                    <p>bob_de_alpaca@rentafriend.be</p>
                    <p>0456730056</p>
                </td>
                <td width="75%">
                    <a href="beschikbaarheid.html">Beschikbaarheid</a><br>
                    <a href="tarieven.html">Tarieven</a><br>
                    <a href="overbob.html">Over Bob</a>
                </td>
                </tr>
            </tbody>
    </table>
</footer>
