<header id="header">
    <img class="logonaam" src ="assets/logonaam.png" alt="logo" >
</header>
<div class="social">   
  <a href="https://www.facebook.com/">
    <i class="sprite sprite-facebooklogo"></i>
  </a>
  <a href="https://www.instagram.com/">
    <i class="sprite sprite-instagramlogo"></i>
  </a>
</div> 

<hr width="65%">

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: white">
    <!-- websitelogo -->
    <a class="navbar-brand" href="index.html">
        <i class="sprite sprite-logo logo"></i>
    </a>
    
    <!-- hamburger icoon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- hoofdnavigatie -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          {% assign links = site.data.navigation %}
          {% for link in links %}
              {% assign class = nil %}
              {% if page.url contains link.url %}
                  {% assign class = 'active' %}
              {% endif %}
              {% if link.sublinks %}
               
              {% else %}
                  <li class="nav-item{{ class }}">
                      <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                  </li>
              {% endif %}
          {% endfor %}
          
      </ul>
    </div>
  </nav>

  {% unless page.title contains "index" %}
  <img src="assets/alp.jpg" alt="vector" class="alp" width="100%">
  <img src="assets/alpmobile.png" alt="vector" class="alpmobile" width="100%">
  {% endunless %}