@import "https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.0/dist/bootstrap-float-label.css";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


/*sprite*/
.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-facebooklogo {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}

.sprite-facebooklogowit {
  width: 32px;
  height: 32px;
  background-position: -47px -5px;
}

.sprite-instagramlogo {
  width: 32px;
  height: 32px;
  background-position: -89px -5px;
}

.sprite-instagramlogowit {
  width: 32px;
  height: 32px;
  background-position: -131px -5px;
}

.sprite-logo {
  width: 148px;
  height: 172px;
  background-position: -173px -5px;
}


.social{
  float:right;
  position: relative;
  right: 18%;
  top: -40px;
}
.social a{
    display: inline-block;
}

/*general*/

.logonaam {
  width:20%;
}

header{
  text-align: center;
}
hr {
  margin-top: 7px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .logonaam, header, hr{
      display: none;
  }
}
@media (min-width: 768px) {
  .navbar{
    height: 80px;
  }
}
/*.navbar{
  height: 80px;
}*/
.nav-item{
  padding-left: 35px;
  padding-right: 35px;
}

.logo{
  zoom: 0.65;
  position: relative;
  top: -100px;
  left: 55%;
}

@media (max-width: 992px) {
  .logo{
    zoom: 0.4;
    position: inherit;
  }
}

p {
  font-size: 1.1rem; 
}

h1{
  padding-bottom: 30px;
}

.copyright{
  font-size: 14px;
  position: absolute;
  bottom: 10px;
}

/*carousel fotos tekst*/
.glas{
  background: rgba(24, 24, 24, 0.1);
}

/* submit knop*/
$brown: #996543;
$gray: #bbbbbb;

.verzend {

  top:50%;
  left:50%;

  width: 130px;
  height: 40px;

}
.verzend button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: $brown;
  border: 2px solid $brown;
  color:white;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
    }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:$brown;
    background: white;
    }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"Verzenden";
  }
}
.verzend .onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$brown;
  animation: rotating 2s 0.25s linear infinite;
    &:after {
        content:"test";
    }
    &:hover {
        color:white;
        background: white;
    }
}
.verzend .validate {
  font-size:13px;
  color: white;
  background: $brown;
  &:after {
    content:"\f00c";
    font-family:FontAwesome;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* end submit knop*/


/*loading alpaca*/
.loading {
  width: 100%;
  height: 25vh;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 60px;
  height: 60px;
  margin: -60px 0 0 0;

  position: absolute;
  animation: jump 1.5s infinite;
}

@keyframes jump {
  0% { 
    animation-timing-function: ease-in;
  }
  50%   {
    margin: -20px 0;
    animation-timing-function: ease-out;
  }
}

.wave {
  width: 60px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0;
  background-color: black;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  49%{
    opacity: 0;
  }
  50% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
}

/*algemene knoppen*/
.btn-light {
  background-color: $brown;
  border-radius:25px;
  margin: 10px;
  margin-bottom: 40px;
  color: white;
  outline:none;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:$brown;
    background: white;
    }
}
/*afbeelding fur*/
@media (min-width: 480px) {
  .fur{
      display: none;
  }
}
/* vector alpaca onder navigatie*/
.alp{
  padding-bottom: 20px;
}
.alpmobile{
  display: none;
}

@media (max-width: 480px) {
  .alp{
    display: none;
   }
 
   .alpmobile{
    display:initial;
   }
}

/*bob home page*/
.bob{
  width: 30%;
}
/*calender*/

$white: hsla(0, 0%, 100%, 1);
$white50op: hsla(0, 0%, 100%, .5);
$lGrey: hsla(0, 0%, 95%, 1);
$grey: hsla(0, 0%, 40%, 1);
$grey70op: hsla(0, 0%, 40%, .7);
$black: hsla(0, 0%, 20%, 1);
$black50op: hsla(0, 0%, 20%, .5);
$black20op: hsla(0, 0%, 20%, .5);
$pColor: $brown;
$pColor20op: hsla(339, 100%, 50%, .2);
$bgColor: hsla(71, 58%, 64%, 1);

$pFont: Lato, sans-serif;

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin dropshadow {
  box-shadow: 0 4px 4px $black50op;
}

@mixin transition($duration) {
  transition-duration: $duration;
}

$side: 300px;

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}



.widget {
  @include dropshadow;
  position: relative;
  display: block;
  width: 2 * $side;
  height: $side;
  margin: 50px auto;
  font: {
    size: 0;
  }
  .calender {
    display: inline-block;
    position: relative;
    float: left;
    width: $side;
    height: $side;
    box-sizing: border-box;
    background: $pColor;
    @include e('month') {
      width: $side;
      height: $side/8 + ($side - $side/4)/14;
      background: $pColor;
      text-align: center;
      position: relative;
      box-sizing: border-box;
      border-bottom: 1px solid $white;
      @include m('text') {
        color: $white;
        position: relative;
        display: inline-block;
        margin: 0;
        font: {
          family: $pFont;
          weight: 700;
          size: 1.2rem;
        }
        top: 50%;
        transform: translateY(-50%);
      }
      @include m('icon') {
        color: $white;
        position: absolute;
        display: inline-block;
        margin: 0;
        font: {
          weight: 700;
          size: 1.2rem;
        }
        top: 50%;
        transform: translateY(-50%);
        cursor: default;
        @include m('left') {
          left: $side/8;
        }
        @include m('right') {
          right: $side/8;
        }
      }
    }
    
    @include e('days') {
      display: inline-block;
      width: 100%;
      height: $side - ($side/8 + ($side - $side/4)/14);
      box-sizing: border-box;
      padding: $side/12 $side/8;
    }
    
    @include e('cell') {
      display: inline-block;
      float: left;
      text-align: center;
      width: ($side - $side/4)/7;
      height: ($side - $side/4)/7;
      @include m('dOfW'){
      }
      @include m('d'){
        @include transition(.3s);
        box-sizing: border-box;
        border: 1px solid $pColor;
        // border-radius: 50%;
        &.active {
          // border: 1px solid white;
          background-color: $white;
          border: 1px solid white;
        }
        &:hover {
          border: 1px solid white;
        }
      }
    }
    @include e('text') {
      @include m('dOfW'){
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font: {
          family: $pFont;
          weight: 700;
          size: 1rem;
        }
        line-height: 1rem;
      }
      @include m('d'){
        @include transition(.3s);
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        cursor: default;
        color: $white;
        font: {
          family: $pFont;
          weight: 300;
          size: 1rem;
        }
        line-height: 1rem;
        &.active {
          color: $pColor;
          font-weight: 700;
        }
      }
    }
  }
  
  .schedule {
    display: inline-block;
    float: left;
    width: $side;
    height: $side;
    box-sizing: border-box;
    // padding: $side/8;
    background: $white;
    @include e('title') {
      width: $side;
      height: $side/8 + ($side - $side/4)/14;
      // background: $white;
      // text-align: center;
      position: relative;
      padding: 0 $side/16;
      // position: relative;
      @include m('text'){
        color: $black;
        position: relative;
        margin: 0;
        font: {
          family: $pFont;
          weight: 700;
          size: 1.2rem;
        }
        top: 50%;
        transform: translateY(-50%);
      }
      @include m('date') {
        color: $black50op;
        position: absolute;
        margin: 0;
        left: $side/16;
        bottom: 0;
        font: {
          size: .7rem;
          family: $pFont;
        }
      }
    }
    
    @include e('taskWrapper') {
      display: inline-block;
      position: relative;
      width: 100%;
      height: $side - ($side/8 + ($side - $side/4)/14);
      box-sizing: border-box;
      padding: $side/20 $side/16 $side/16;
    }
    
    @include e('formWrapper') {
      position: relative;
      width: 100%;
      height: 100%;
    }
    
    @include e('form') {
      @include transition(.5s);
      transition-timing-function: ease;
      border-radius: 15px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      padding: 0px;
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      background-color: $pColor;
      @include dropshadow;
      
      > * {
        @include transition(.5s);
        opacity: 0;
        &.show {
          opacity: 1;
        }
      }

      &.show {
        width: 100%;
        height: 100%;
        right: 0px;
        bottom: 0px;
        padding: 20px;
        border-radius: 0 0 15px 0;
      }
    }
    
    @include e('add') {
      @include transition(.5s);
      position: absolute;
      right: $side/16;
      bottom: $side/16;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: calc((30px - 1.2rem)/2);
      text-align: center;
      background: {
        color: $pColor;
      }
      text-align: center;
      @include m('icon') {
        position: relative;
        color: $white;
        @include transition(.5s);
        transition-timing-function: ease;
        user-select: none;
        transform-origin: 50% 50%;
        font: {
          size: 1.2rem;
          weight: 700;
        }
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 auto;
        line-heihgt: 1.2rem;
        cursor: default;
        &.active {
          transform: rotate(45deg);
        }
      }
    }
  }
}
.vakje-red{
  color: $brown;
}
.red{
  font-size: 60px;
}
.avail
{background-color:rosybrown;}

/*table*/
th{
  background-color: $brown;
  color: white;
}

/*form*/
form-control:focus{
  border-color:red;
}


/*breadcrumb*/
.breadcrumb {
  background: white; 
}
.breadcrumb a {
  color: $brown;
}
.breadcrumb a:hover {
  color: $brown;
}
.breadcrumb>.active {
  color: rgba(0, 0, 0, 1);
}

/*bedankt*/
.like{
  width: 200px;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}
/*footer*/
footer{
  background-color: #dec4a9;
}
footer a{
  color: white;
  font-size: 1.2rem;
}
footer p{
  color: white;
}
.ftborder{
  border-right: 1px solid white;
}


.ft{
  padding: 30px;
}
.logobottom a{
  display: inline-block;
}
@media (max-width: 768px) {
  .logobottom{display:inline;}
  .full{display:none;}
  .ftborder{border: none;}
}
@media (min-width: 769px) {
  .logobottom{display:none;}
}
