@import "https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.0/dist/bootstrap-float-label.css";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

p {
  font-size: 1.1rem; 
}


.social a{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.social a img{
    width: 100%;
    height: auto;
}

/* submit knop*/
$brown: #996543;
$gray: #bbbbbb;

.verzend {

  top:50%;
  left:50%;

  width: 130px;
  height: 40px;

}
.verzend button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: $brown;
  border: 2px solid $brown;
  color:white;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
    }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:$brown;
    background: white;
    }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"Verzenden";
  }
}
.verzend .onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$brown;
  animation: rotating 2s 0.25s linear infinite;
    &:after {
        content:"test";
    }
    &:hover {
        color:white;
        background: white;
    }
}
.verzend .validate {
  font-size:13px;
  color: white;
  background: $brown;
  &:after {
    content:"\f00c";
    font-family:FontAwesome;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* end submit knop*/

/*loading alpaca*/
.loading {
  width: 100%;
  height: 25vh;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 60px;
  height: 60px;
  margin: -60px 0 0 0;

  position: absolute;
  animation: jump 1.5s infinite;
}

@keyframes jump {
  0% { 
    animation-timing-function: ease-in;
  }
  50%   {
    margin: -20px 0;
    animation-timing-function: ease-out;
  }
}

.wave {
  width: 60px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0;
  background-color: black;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  49%{
    opacity: 0;
  }
  50% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
}

/*algemene knoppen*/
.btn-light {
  background-color: #996543;
  border-radius:25px;
  margin: 10px;
  color: white;
  outline:none;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:$brown;
    background: white;
    }


}

@media (min-width: 576px) {
  .fur{
      display: none;
  }
}

.alp{
  padding-bottom: 20px;
}

.bob{
  width: 30%;
}
/*calender*/

.calender {
  margin: 2rem auto;
  width:48%;
  padding: 1.5rem;
  border-radius: 3rem;
  background: $brown;
  font-size: 0;
}
.day, .week, .month {
  font-family: 'Arimo', sans-serif;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 4rem;
  color: #ccc;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  width: 4rem; height: 4rem;
  border: 1px solid;
  border-color: rgba(255,255,255,0);
  border-radius: 50%;
  transition: 200ms ease-in-out;
}
.week {
  cursor: default;
  color: #aaa;
  font-size: 1.2rem;
}
.month {
  width: 100%;
}
.day:hover {
  border-color: rgba(255,255,255,.2);
  background: rgba(255,255,255,.1);
}
.not {
  color: #999;
}
.calender .day.current{
  background:rgba(255,255,255,.15);
  color:#f7f7f7;
  text-shadow:1px 1px 2px rgba(0,0,0,.4);
}

.calender .day.full{
  background:rgba(255,255,255,.25);
  color:#f7f7f7;
  text-shadow:1px 1px 2px rgba(0,0,0,.4);
  border-radius: 0% !important;
}

/*breadcrumb*/
.breadcrumb {
  background: #FEFCFF; 
}
.breadcrumb a {
  color: $brown;
}
.breadcrumb a:hover {
  color: $brown;
}
.breadcrumb>.active {
  color: rgba(0, 0, 0, 1);
}

/*footer*/
footer{
  background-color: #dec4a9;
}
footer a{
  color: white;
  font-size: 1.2rem;
}
footer p{
  color: white;
}